*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  list-style: none;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.container{
  display:grid;
  grid-template-columns: 7% auto 40%;
  grid-template-rows: 20% 60% 20%;
  height: 100vh;
  text-align: center;
  background-image: url('images/background.jpg');
  background-size:cover;
}

/* SIDEBAR CSS */

.sideBar {
  background: black;
  color: white;
  grid-row:1/4;
}

.sideBar .mainNav li {
  padding: 20px;
  font-size:15px;
  display:flex;
  justify-content: center;
}

.fas{
  color: grey;
}

.container .sideBar .logo{
  width:75%;
  margin-bottom: 40px;
}

.container .sideBar .outsideLinks{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
}

.fab{
  color:grey;
  font-size:15px;
  margin-top:20px;
  padding:5px;
}



.mainContent{
  text-align: center;
}

.fas:hover, .fab:hover{
  color:#05F2C7;
}

.mainNav li b{
  display:none;
  
}

.mainNav a{
  text-decoration: none;
}

.mainNav a:hover i{
  display:none;
  -webkit-backface-visibility: hidden;
}

.mainNav a:hover b{
  display: block;
  font-size:15px;
  text-transform: uppercase;
  color:#05F2C7;
  -webkit-backface-visibility: hidden;
}

/* Index.html Main content */

.mainContent{
  grid-row:2/3;
  grid-column: 2/3;

}

.sideContent{
  grid-row:2/3;
  grid-column: 3/4;
  margin:auto;
}

.sideContent img{
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

