*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  list-style: none;
  font-family: 'Saira Extra Condensed', sans-serif;
}


.container{
  display:grid;
  grid-template-columns: 6% repeat(4,auto);
  grid-template-rows: repeat(4,auto);
  height: 100vh;
  text-align: center;
  background-image: url('images/background.jpg');
  background-size:cover;
}

/* SIDEBAR CSS */

.sideBar {
  background: black;
  color: white;
  grid-row:1/5;
}

.sideBar .mainNav li {
  padding: 30px;
  font-size:15px;
  display:flex;
  justify-content: center;
}

.mainNav{
  margin-top:0px;
}

.fas{
  color: grey;
}

.container .sideBar .logo{
  width:75%;
  margin-bottom: 80px;
}

.outsideLinks{
  margin-top:140px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end
}

.fab{
  color:grey;
  font-size:17px;
  margin-top:20px;
  padding:5px;
}

.mainContent{
  text-align: center;
}

.fas:hover, .fab:hover{
  color:#05F2C7;
}

.mainNav li b{
  display:none;
}

.mainNav a{
  text-decoration: none;
  position: absolute;
}

.mainNav a:hover i{
  display:none;
}

.mainNav a:hover b{
  display: block;
  font-size:13px;
  text-transform: uppercase;
  color:#05F2C7;
}

.mainNav .active{
  color:#05F2C7;
}

/* Index.html Main content */

.mainContent{
  grid-row:2/4;
  grid-column: 2/4;
  text-align:center;
  display:flex;
  justify-content: center;
  padding-left:30px;
}

.mainContent p{
  font-size:20px;
  margin-top:120px;
  font-family: 'Roboto',
  sans-serif;
  line-height: 1.5;
  font-style: bold;
  color:black;
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  /* Keeps the content on a single line */
  white-space: nowrap;
  /* Adjust as needed */
  letter-spacing: .10em;
  animation: typing 5s steps(40, end);
}



/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


.sideContent{
  grid-row:2/4;
  grid-column: 4/6;
}

.sideContent img{
  border-radius: 50%;
  background-position: center;
  display:flex;
}

/* ABOUT ME PAGE */
.container .aboutMe{
  grid-row:2/4;
  grid-column:4/6;
}

/* RESUME PAGE */
